html {
    scroll-behavior: smooth;
}

h1 {
    font-family: Verdana;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .course-card {
        transition: none;
    }
}



.nav-icon {
    transition: all 1s ease;
}

.nav-icon:hover {
    transform: scale(.9);
}

.marketing {
    transition: all 0.3s ease;
}

.marketing:hover {
    transform: translateY(-10px);
}

.uxui {
    transition: all 0.3s ease;
}

.uxui:hover {
    transform: translateY(-10px);
}

.webdev {
    transition: all 0.3s ease;
}

.webdev:hover {
    transform: translateY(-10px);
}

#stage {
    width: 120px;
    height: 120px;
    position: relative; /* To position the spinner */
    padding-left: 815px;
}

#stage:hover .spinner {
    animation: spincube 12s ease-in-out;}

.spinner div {
    position: absolute;
    width: 120px;
    height: 120px;
    border: 1px solid #ccc;
    background: rgba(255,255,255,0.8);
    box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
    text-align: center;
    line-height: 120px;
    font-size: 20px;
}

.spinner .face1 { 
    transform: translateZ(60px);
}
.spinner .face2 { 
    transform: rotateY(90deg) translateZ(60px); 
}
.spinner .face3 { 
    transform: rotateY(90deg) rotateX(90deg) translateZ(60px); 
}
.spinner .face4 { 
    transform: rotateY(180deg) rotateZ(90deg) translateZ(60px); 
}
.spinner .face5 { 
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px); 
}
.spinner .face6 { 
    transform: rotateX(-90deg) translateZ(60px); 
}

.spinner {
    transform-style: preserve-3d;
    transform-origin: 60px 60px 0;
}

@keyframes spincube {
    16%      { transform: rotateY(-90deg); }
    33%      { transform: rotateY(-90deg) rotateZ(90deg); }
    50%      { transform: rotateY(180deg) rotateZ(90deg); }
    66%      { transform: rotateY(90deg) rotateX(90deg); }
    83%      { transform: rotateX(90deg); }
}

.body {
    margin-left: 160px;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#dashSide {
    display: inline-block;
    color: white;
    transition: all 0.3s ease;
}

#dashSide:hover {
    color: #cc745a;
    /* Color when hovered */
    animation: pulse 0.5s infinite alternate;
}

#rateSide {
    display: inline-block;
    color: white;
    transition: all 0.3s ease;
}

#rateSide:hover {
    color: #cc745a;
    /* Color when hovered */
    animation: pulse 0.5s infinite alternate;
}

#modSide {
    display: inline-block;
    color: white;
    transition: all 0.3s ease;
}

#modSide:hover {
    color: #cc745a;
    /* Color when hovered */
    animation: pulse 0.5s infinite alternate;
}

#faqSide {
    display: inline-block;
    color: white;
    transition: all 0.3s ease;
}

#faqSide:hover {
    color: #cc745a;
    /* Color when hovered */
    animation: pulse 0.5s infinite alternate;
}

.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 160px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #30455c;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

/* Style page content */
.main {
    margin-left: 160px;
    /* Same as the width of the sidebar */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media (prefers-reduced-motion: reduce) {
    .body {
        animation: none !important;
        transition: none !important;
    }
}

body {
    font-family: Verdana;
    background-color: #eaf0f3;
}

header {
    background-color: #30455c;
    color: white;
    position: sticky;
    top: 0;
    display: flex;
}

.login {
    margin: 20px;
    padding: 15px;
    padding-top: 32px;
}

.loginText {
    padding-left: 253px;
    padding-top: 50px;
}

input[type="submit"],
button {
    background-color: #f59070;
    color: black;
    transition: background-color 0.3s ease;
    outline: 0px;
}

input[type="submit"]:hover,
button:hover {
    background-color: gray;
}

.coursesTitle {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.courseTitle {
    text-align: center;
    padding-bottom: 20px;
}

.marketing {
    padding-left: 60px;
}

.webdev {
    padding-left: 280px;
}

.uxui {
    padding-left: 250px;
}

.courseDashboard {
    display: flex;
    padding-bottom: 50px;
}

.marketingImage {
    width: 350px;
    height: 245px;
    margin: auto;
}

.codingImage {
    width: 350px;
    height: 245px;
    margin: auto;
}

.uxImage {
    width: 350px;
    height: 245px;
    margin: auto;
}

header h1 {
    padding: 40px;
}

header h3 {
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
}

* {
    margin: 0px;
    padding: 0px;
}

.ratings {
    padding-left: 60px;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.ratings h2 {
    padding-bottom: 30px;
}

.ratings p {
    padding-bottom: 20px;
    padding-right: 700px
}

.person {
    font-weight: bold;
}

.section2 p {
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 15px;
}

.cubeTitle{
    text-align: center;
    padding-top: 35px;
    padding-bottom: 45px;
}

.rasbpi {
    padding-left: 80px;
    padding-top: 20px;
}

.courseprogress {
    padding-left: 60px;
    padding-top: 50px;
}

.progress {
    margin-left: 60px;
    margin-top: 30px;
}

.modules {
    padding-left: 60px;
    padding-top: 40px;
}

.list li {
    padding-left: 60px;
    padding-top: 20px;
    font-weight: bold;
}

.robotics {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.robotDesign {
    padding-left: 133px;
    padding-bottom: 20px;
}

.robotarmcap {
    padding-left: 133px;
    padding-bottom: 20px;
}

.robotarm {
    padding-left: 80px;
    padding-top: 20px;
}



.section3 h2 {
    padding-left: 60px;
    padding-bottom: 20px;
}

.section3 details {
    padding-left: 80px;
}

.paymentForm {
    padding-left: 60px;

}

.paymentFormTitle {
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.paymentMethod {
    padding-top: 20px
}

.faq {
    font-weight: bold;
    padding-top: 20px;
}

.fields {
    padding-bottom: 20px;
}

.faqContact {
    padding-left: 60px;
    padding-bottom: 100px;
}

.feedbackTitle {
    padding-left: 60px;
    padding-top: 20px;
}

.updates {
    padding-left: 60px;
}

.updatesForm {
    padding-left: 60px;
    padding-top: 20px;
}

.feedback {
    padding-left: 60px;
    padding-top: 20px;
}

input {
    outline-color: black;
    transition:
        outline-color 50ms;
}

input:focus {
    outline-color: #4285F4;
}