h1{
    font-family: Verdana;
    text-align: center;
}

body{
    font-family: Verdana;
    background-color: #eaf0f3;   
}

header{
    background-color: #30455c;
    color: white;
    padding: 50px;
}

.star-rating{
    width: 100px;
    height: 20px;
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F611574824396855597%2F&psig=AOvVaw0M6U7V-dT9VdgpFsTGHc9H&ust=1697837171057000&source=images&cd=vfe&opi=89978449&ved=0CA4QjRxqFwoTCNitqb6Gg4IDFQAAAAAdAAAAABAD");
    display:inline-block;
}

header h1{
    padding: 40px;
}

header h3{
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
}

*{
    margin: 0px;
    padding: 0px;
}

.section1{
    padding: 60px;
    margin: 0px
}

.section1 h2{
    padding-bottom: 30px;
}

.section1 p{
    padding-bottom: 20px;
    padding-right: 700px
}

.person{
    font-weight: bold;
}

.section2 p{
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 15px;
}

.rasbpi{
    padding-left: 80px;
    padding-top:20px;
}

.courseprogress{
    padding-left: 60px;
    padding-top: 50px;
}

.progress{
    padding-top: 0px;
}

.modules{
    padding-left: 60px;
    padding-top: 40px;
}

.list li{
    padding-left: 60px;
    padding-top: 20px;
    font-weight: bold;
}

.robotics{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.robotDesign{
    padding-left: 133px;
    padding-bottom: 20px;
}

.robotarmcap{
    padding-left: 133px;
    padding-bottom: 20px;
}

.robotarm{
    padding-left: 80px;
    padding-top: 20px;
}

.codeImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section3 h2{
    padding-left: 60px;
    padding-bottom: 20px;
}

.section3 details{
    padding-left: 80px;
}

.paymentForm{
    padding-left: 60px;

}

.paymentFormTitle{
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.paymentForm label{
    padding-top: 30px;
}

.faq{
    font-weight: bold;
    padding-top: 20px;
}

.fName{
    padding-bottom: 1000px;
}