h1 {
    font-family: Verdana;
    text-align: center;
}

.nav-icon { transition: all 1s ease; } .nav-icon:hover { transform: scale(.9); }

body {
    font-family: Verdana;
    background-color: #eaf0f3;
}

header {
    background-color: #30455c;
    color: white;
    position: sticky;
    top: 0;
    display: flex;
}

.login {
    margin: 20px;
    padding: 15px;
    padding-top: 32px;
}

.loginText {
    padding-left: 450px;
    padding-top: 50px;
}

input[type="submit"],
button {
    background-color: #f59070;
    color: black;
    transition: background-color 0.3s ease;
    outline: 0px;
}

input[type="submit"]:hover,
button:hover {
    background-color: gray;
}

.coursesTitle {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.courseTitle{
    text-align: center;
    padding-bottom: 20px;
}

.marketing{
    padding-left: 60px;
}

.webdev{
    padding-left: 370px;
}

.uxui{
    padding-left: 300px;
}

.courseDashboard {
    display: flex;
    padding-bottom: 50px;
}

.marketingImage {
    width: 350px;
    height: 245px;
    margin: auto;
}

.codingImage {
    width: 350px;
    height: 245px;
    margin: auto;
}

.uxImage {
    width: 350px;
    height: 245px;
    margin: auto;
}

.codeImg {
    transition:
        width 3s,
        height 3s;
}

.codeImg:hover {
    width: 800px;
    height: 500px;
}

/*.starrating{
    width: 100px;
    height: 20px;
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F611574824396855597%2F&psig=AOvVaw0M6U7V-dT9VdgpFsTGHc9H&ust=1697837171057000&source=images&cd=vfe&opi=89978449&ved=0CA4QjRxqFwoTCNitqb6Gg4IDFQAAAAAdAAAAABAD");
    display:inline-block;
}*/

header h1 {
    padding: 40px;
}

header h3 {
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
}

* {
    margin: 0px;
    padding: 0px;
}

.ratings {
    padding-left: 60px;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.ratings h2 {
    padding-bottom: 30px;
}

.ratings p {
    padding-bottom: 20px;
    padding-right: 700px
}

.person {
    font-weight: bold;
}

.section2 p {
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 15px;
}

.rasbpi {
    padding-left: 80px;
    padding-top: 20px;
}

.courseprogress {
    padding-left: 60px;
    padding-top: 50px;
}

.progress {
    margin-left: 60px;
    margin-top: 30px;
}

.modules {
    padding-left: 60px;
    padding-top: 40px;
}

.list li {
    padding-left: 60px;
    padding-top: 20px;
    font-weight: bold;
}

.robotics {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.robotDesign {
    padding-left: 133px;
    padding-bottom: 20px;
}

.robotarmcap {
    padding-left: 133px;
    padding-bottom: 20px;
}

.robotarm {
    padding-left: 80px;
    padding-top: 20px;
}

.codeImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section3 h2 {
    padding-left: 60px;
    padding-bottom: 20px;
}

.section3 details {
    padding-left: 80px;
}

.paymentForm {
    padding-left: 60px;

}

.paymentFormTitle {
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.paymentMethod {
    padding-top: 20px
}

.faq {
    font-weight: bold;
    padding-top: 20px;
}

.fields {
    padding-bottom: 20px;
}

.faqContact {
    padding-left: 60px;
    padding-bottom: 100px;
}

.feedbackTitle {
    padding-left: 60px;
    padding-top: 20px;
}

.updates {
    padding-left: 60px;
}

.updatesForm {
    padding-left: 60px;
    padding-top: 20px;
}

.feedback {
    padding-left: 60px;
    padding-top: 20px;
}

input {
    outline-color: black;
    transition:
        outline-color 50ms;
}

input:focus {
    outline-color: #4285F4;
}